body{
    background-color: #061B2A;
    padding: 3%;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: aliceblue;
}

#name {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: aliceblue;
}

.list{
    font-size: 17px;
    color: aliceblue;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

#picture { 
    float: left;
    height: 240px;
    padding: 5px;
    background-color: rgb(144, 144, 0);
}

.image-descricao {
    height: 250px;
    position: relative;
}

.descricao {
    position: absolute;
    top: 32%;
    right: 8%;
    width: 800px;
}

ul.list li:nth-child(odd) {
    background-color: brown;
}